.sum {
    background-color: #eeeae7;
    font-family: "Book Antiqua";
}

.error {
    background-color: red;
}

.bad {
    background-color: red;
}

.soso {
    background-color: gold;
}

.good {
    background-color: greenyellow;
}

.super {
    background-color: #f838f8;
}